.aboutus {
    display: flex;
    background-color: $background-color;

    .side-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        flex: 1 1 42%;
        @media (max-width: 800px) {
            display: none;
        }
    }

    .content {
        flex: 2 2 58%;
        color: white;
        padding-left: 96px;
        padding-right: 96px;

        @media (max-width: 800px) {
            padding-left: 20px;
            padding-right: 20px;
        }

        h1 {
            font-size: 56px;
            font-weight: 300;

            @media (min-width: 1104px) and (max-width: 1246px) {
                font-size: 48px;
            }
            @media (max-width: 1103px) {
                font-size: 32px;
            }
            b {
                color: $accent-color;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 4px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 24px;
            max-width: 800px;
            color: white;
        }
    }
}