.aboutus {
    display: flex;
    background-color: $background-color;

    .side-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        flex: 0 0 42%;
    }

    .content {
        flex: 1 1 58%;
        color: white;
        padding-left: 96px;
        padding-right: 96px;

        h1 {
            font-size: 56px;
            font-weight: 300;

            b {
                color: $accent-color;
            }
        }

        h3 {
            font-size: 20px;
            font-weight: 700;
            margin: 0;
            margin-bottom: 4px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            margin: 0;
            margin-bottom: 24px;
            max-width: 800px;
            color: white;
        }
    }
}