.banner {
    height: 100vh;
    min-height: 480px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1450px) {
        background-attachment: scroll;
        background-position: 70% 100%;
    }

    small {
        display: block;
        color: rgb(219, 33, 33);
    }

    .mobile-title {
        display: none;
        

        @media (max-width: 596px) {
            display: block;
        }
    }

    .desktop-title {
        
        @media (max-width: 596px) {
            display: none;
        }
    }

    .overlay {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        color: white;
        width: 100%;
        h1 {
            font-size: 72px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0px 20px;

            @media (max-width: 850px) {
                font-size: 42px;
            }

            @media (max-height: 470px) and (min-width: 851px) {
                font-size: 42px;
            }
        }

        button.mobile {
            display: none;
            @media (max-width: 404px) {
                display: inline-block;
            }
        }

        button.desktop {
            @media (max-width: 404px) {
                display: none;
            }
        }
    }
}

.banner::before {
    display: block;
    height: 100vh;
    min-height: 481px;
    width: 100%;
    content: '';
    background-color: rgba(24, 24, 24, 0.7);
}