.banner {
    position: relative;
    height: 100vh;
    min-height: 480px;
    overflow: hidden;

    @-webkit-keyframes zoomin {
        0% {
          opacity: 0;
        //   transform: scale(2);
        }
      
        100% {
          opacity: 1;
        //   transform: scale(1);
        }
      }

    .current-slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        min-height: 480px;
        // background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
    }

    .current-slide.animated {
        animation-name: zoomin;
        animation-duration: 3s;
        animation-iteration-count: 1;
    }

    .previous-slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        min-height: 480px;
        // background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 1;
    }

    @media (max-width: 1450px) {
        background-attachment: scroll;
    }

    small {
        display: block;
        color: rgb(219, 33, 33);
    }

    .mobile-title {
        display: none;
        

        @media (max-width: 596px) {
            display: block;
        }
    }

    .desktop-title {
        
        @media (max-width: 596px) {
            display: none;
        }
    }

    .overlay {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        text-align: center;
        color: white;
        width: 100%;
        h1 {
            font-size: 72px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 0px 20px;

            @media (max-width: 850px) {
                font-size: 42px;
            }

            @media (max-height: 470px) and (min-width: 851px) {
                font-size: 42px;
            }
        }

        a {
            text-decoration: none;
        }

        a.mobile {
            display: none;
            @media (max-width: 404px) {
                display: inline-block;
            }
        }

        a.desktop {
            @media (max-width: 404px) {
                display: none;
            }
        }
    }
}

.banner-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(24, 24, 24, 0.4);
}