.copyright_section {
    background-color:rgb(233, 236, 239);
    padding: 10px 0px;
    .container {
        display: flex;
        justify-content: space-between;
    }

    p, a {
        margin-bottom: 0px;
        font-weight: 400;
        font-size: 14.4px;
        font-family: "Open Sans", Arial, serif;
    }


}