.navbar {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    color: #FFF;
    height: 91px;
    border-bottom-color: rgb(90, 95, 97);
    border-bottom-style: solid;
    border-bottom-width: 1px;

    a {
        text-decoration: none;
    }

    .container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .nav-menu-icon {
        display: none;
    }

    .title {
        position: relative;
        display: flex;
        height: 100%;

        .divider {
            height: 40px;
            width: 1px;
            background-color: rgb(205, 205, 205);
            margin: auto 10px;
        }

        h1 {
            margin: 0px;
            font-size: 34.4px;
            letter-spacing: -0.5px;
            font-weight: 700;
            font-family: "Rambla", "sans-serif";
            margin: 26.5px auto;
            color: white;
        }

        .subtitle {
            font-size: 20px;
            font-weight: 400;
            font-family: "Open Sans", Arial, serif;
            margin: auto auto;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        li {
            list-style: none;
            margin-bottom: 0px;
            a {
                display: block;
                font-size: 12px;
                font-family: "Open Sans", Arial, serif;
                font-weight: 700;
                line-height: 18px;
                padding: 34px 14px;
                border-color: transparent;
                border-width: 3px 1px 1px 1px;
                border-style: solid;
                text-transform: uppercase;
                text-decoration: none;
                color: white;
            }

            .dropdown-menu {
                background-color: white;
                display: none;
                flex-direction: column;
                position: absolute;
                padding: 12px;
                border-style: solid;
                border-color: rgb(233, 236, 239); 
                border-bottom-color: rgb(85, 167, 154);
                border-width: 0px 1px 3px 1px;
                border-bottom-width: 3px;
                li {
                    display: block;
                    list-style: none;
                    margin-bottom: 0px;
                    a {
                        color:rgb(27, 27, 27);
                        display: block;
                        font-size: 12px;
                        font-family: "Open Sans", Arial, serif;
                        font-weight: 400;
                        line-height: 18px;
                        padding: 8px 12px;
                        border: none;
                        border-bottom-color: rgb(230, 230 ,230);
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                        text-decoration: none;
                        text-transform: none;
                        text-align: left;
                    }
        
                    a:hover {
                        background-color: rgb(248, 249, 250);
                        border: none;
                        border-bottom-color: rgb(230, 230 ,230);
                        border-bottom-width: 1px;
                        border-bottom-style: solid;
                    }
                }
            }
        }
        li:first-of-type {
            a {
                padding: 30px 14px;
            }
        }

        .dropdown-menu.show {
            display: flex;
            flex-direction: column;
        }

        li:hover {

            .dropdown-menu {
                display: flex;
                flex-direction: column;
            }

            a {
                background-color: white;
                border-color: white;
                border-top-color: rgb(85, 167, 154);
                border-style: solid;
                border-width: 3px 1px 1px 1px;
                color: black;
            }
        }
    }

    

@media (max-width: 1024px) {

    .nav-menu-icon {
        display: block;
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }

    .nav-menu {
        display: none;
    }

    .nav-menu.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 91px;
        right: 0px;
        background-color: black;
        width: 320px;

        li {
            border-bottom-style: none;
            border-bottom-color: rgba(255, 255, 255, 0.1);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            background-color: rgb(40, 40, 40);

            a {
                padding: 15px 20px;
                border-style: none;
            }
        }

        li:first-of-type {
            a {
                padding: 11px 20px;
            }
        }

        .dropdown-menu {
            display: none;
            position: static;
            background-color: rgb(40, 40, 40);
            padding: 0 0;
            border-style: none;
            li {
                border-style: none;
                border-bottom-color: rgb(78, 78, 78);
                border-bottom-style: solid;
                border-bottom-width: 1px;
                a {
                    background-color:rgb(53, 53, 53);
                    color:white;
                    border-style: none;
                }                    
            }
            a:hover {
                background-color:rgb(53, 53, 53);                  
            }
        }

        .dropdown-menu.show {
            display: flex;
            flex-direction: column;
        }

        a {
            border-style: none;
            background-color: rgb(40, 40, 40);
            color: white;
        }
    }
}

}

.navbar.scrolled {
    background-color: rgba(52, 58, 64, 0.9);
}