.testimonials {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    // scroll-snap-type: x proximity;
    background-size: cover;
    background-attachment: cover;
    background-position: 50% 50%;

    .slider {
        display: flex;
        flex-direction: row;
        width: 300vw;
        justify-content: flex-start;

        .item {
            display: inline-block;
            flex-shrink: 0;
            width: 60vw;
            text-align: center;
            // scroll-snap-align: start;
            padding: 74px 20vw;
            z-index: 2;

            p {
                color: white;
            }

            i {
                color: white;
            }
        }
    }
}

.testimonials::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.slider::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 300vw;
    content: '';
    background-color: rgba(24, 24, 24, 0.7);
}