.testimonials {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    // background-size: cover;
    // background-attachment: cover;
    // background-position: 50% 50%;
    background-color: $dark-accent-color;
    z-index: 0;

    .item {
        display: inline-block;
        flex-shrink: 0;
        width: 60vw;
        text-align: center;
        padding: 0 20vw;
        padding-top: 74px;

        p {
            color: white;
            font-style: italic;
            font-size: 24px;
            margin-bottom: 20px;
        }

        i {
            color: white;
            font-size: 24px;
        }
    }

    .owl-dots {
        margin-bottom: 74px;
    }
}

.testimonials::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

.testimonials.scroll-lock {
    scroll-snap-type: x mandatory;
}

// .slider::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     height: 100%;
//     width: 300vw;
//     content: '';
//     background-color: rgba(24, 24, 24, 0.7);
// }