h1 {
    font-family: "Open Sans", Arial, serif;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Open Sans", Arial, serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Open Sans", Arial, serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
}

h4 {
    font-family: "Open Sans", Arial, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: none;
    color: $text-color;
    margin: 0;
    padding: 0;
}

p {
    font-family: "Open Sans", Arial, serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
    color: $text-color;
    margin: 0;
    padding: 0;
}