$text-color: rgb(33, 37, 41);
$faded-white-text: rgb(233, 236, 239);
$accent-color: rgb(65, 167, 154);
$background-color: rgb(52, 58, 64);
$error-text-color: #e1534f;
$success-text-color: #5cb45d;
$hovered-link: rgb(146, 200, 192);
$active-link: rgb(65, 130, 167);
$visited-link: rgb(88, 134, 165);