// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Quattrocento+Sans:700");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("http://fonts.googleapis.com/css?family=Rambla:400,700");
// @import url("http://fonts.googleapis.com/css?family=Roboto"); //Unused, kept because cool font.
// @import url("http://fonts.googleapis.com/css?family=Oswald"); //Unused, kept because cool font.
// @import url("https://fonts.googleapis.com/css?family=Cantarell:700"); //Unused, kept because cool font.
// Variables, Mixins
@import "global/variables";

// Component Specific Customs
// Banner
@import "components/banner";
@import "components/writing-text";
// Navbar
@import "components/navbar";
// Services Section
@import "components/services";
// // Contact Me Section
// @import "components/contact";
// // Site Preloader
// @import "components/preloader";
// // About Me Section
// @import "components/aboutme";
// // Error Page Section
// @import "components/errorpage";
// Copyright Section
@import "components/copyright";

// Global Custom styles
@import "global/global";

iframe {
    width: 100%;
    margin-bottom: 0px !important;
}

.container {
    width: 90%;
    margin: 0 auto;
}